/* google fonts need to be put here starting with '@import' */
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}


/* the narrow screen style, which should be the default  */
nav {
	background-color: hsl(0, 0%, 0%);
}

nav a {
	color: hsl(100, 0%, 100%);
	text-decoration: none;
}

nav ul {}

.logo {}

/* IF the screen is AT LEAST 769px... */
@media screen and (min-width: 769px) {
	nav ul {}
}
