/* google fonts need to be put here starting with '@import' */
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

}


/* the narrow screen style, which should be the default  */
nav {
	font-family: "Inter", sans-serif;
	background-color: hsl(0, 92%, 45%);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

nav a {
	color: hsl(100, 0%, 100%);
	text-decoration: none;
	padding: 1rem;
	display: inline-block;
	transition: all .2s ease-in .2s;
}

nav a:hover,
nav a.current {
	color: hsl(88, 100%, 50%);
	font-weight: bold;
}

nav ul {
	background-color:hsl(0, 64%, 71%);
	display: flex;
	flex-direction: column;
	list-style-type: none;
}


.logo {
	color: hsl(100, 0%, 100%);
	font-weight: bold;
	padding: 1rem;
}

/* IF the screen is AT LEAST 769px... */
@media screen and (min-width: 769px) {
	nav, 
	nav ul {
		flex-direction: row;
	}
}
